#root {
  display: flex;
  justify-content: center;
  padding-bottom: 15rem;
  background-image: url(./Images/technology-background.webp);
  background-size:cover;
  background-position: center;
  height: fit-content;
}

